body {font-weight:500; font-family: Georgia, 'Times New Roman', Times, serif;}
header,#content {text-align: center; list-style-position: inside;}

#content img {padding: 2%; padding-bottom:0.5%;border-radius: 4em;}

.intro {background-color: #fdfbf1; height: 50px;border-top: solid #ffd877; line-height: 3em ; color: #107777; font-weight: bold;}
.image-description {color: grey;}

.lists,.method, footer,.focaccia-content,h1 {padding-left: 25%; padding-right: 25%;}
.featured {color: darkred; padding-top: 2em;padding-left:26%;padding-bottom:1.6em;}


li {padding-top: 0.5em;}
hr {border-color: #c4f3f2;} 

.lists.method,p {font-weight:600; font-size: 1.1em;}